body {
    background-color: #ccc;
}

h1 {
    color: #48e;
    font-family: sans-serif;
    margin: 30px;

}

/*SE APLICAN LAS PROPIEDADES CUANDO SE PASA EL MOUSE ENCIMA*/
h1:hover {
    background-color: #83f;
    color: #000;
}

/*SE APLICAN LAS PROPIEDAD CUANDO SE CLICKEA SOBRE EL ELEMENTO*/
h1:active {
    background-color: #2df;
    color: #fff;
}

/*SELECCIONA AL PRIMER ELEMENTO HIJO DEL CONTENDOR PADRE Y SI ES UN li, SI EL PRIMER ELEMENTO NO ES UN LI NO SE APLICAN LAS PROPIEDADES*/
li:first-child {
    color: #f00;
}

/*SELECCIONA AL ULTIMO ELEMENTO HIJO DEL CONTENDOR PADRE Y SI ES UN li, SI ELULTIMO ELEMENTO NO ES UN LI NO SE APLICAN LAS PROPIEDADES*/
li:last-child {
    color: #f00;
}

/*SELECCIONA AL n ELEMENTO HIJO DEL CONTENEDOR PADRE, SOLO SI ES UN li, SI EL n ELEMENTO NO ES UN LI NO SE LE APLICAN LAS PROPIDADES*/
li:nth-child(2) {
    color: #a11
}

/*SELECCIONA AL n ELEMENTO HIJO DEL CONTENEDOR PADRE INICIANDO DESDE EL ULTIMO ELEMENTO,LAS PROPIEDADES SE APLICAN SOLO SI ES UN li, SI EL n ELEMENTO INICIANCO DESDE EL ULTIMO NO ES UN LI NO SE LE APLICAN LAS PROPIDADES*/
li:nth-last-child(2) {
    color: #d1d;
}

/*SELECCIONA AL UNICO HIJO DE UN ELEMENTO PADRE, LAS PORPIEDAD SOLO SE APLICA SI EL UNICO HIJO QUE TIENE UN CONTENEDORES UN li, SI HAY MAS HIJOS NO SE APLICAN LAS PROPIEDADES*/
li:only-child {
    color: #00f
}

/*SELECCIONA MEDIANTE UNA FORMULA LOS ELEMENTOS,An+B, EN ESTE CASO AGARRA CADA 2 ELEMENTOS APARTIR DEL SEGUNDO ELEMENTO*/
li:nth-child(2n+2) {
    color: #cfc
}

/*AGARRA AL SEGUNDO ELEMENTO DEL CONTENEDOR PADRE QUE SEA SEL MISMO TIPO QUE SE ESTA SELECCIONANDO*/
li:nth-of-type(2) {
    color: #f1f
}

/*SELECCIONA LOS ELEMENTOS QUE NO TENGAN LA CLASE LISTA O CUALQUIER OTRO ATRIBUTO QUE SE COLOQUE DENTO DEL PARENTESIS*/
li:not([value]) {
  font-size: 24px;  
}

/*SELECCIONA A LOS ELEMTONS QUE NO TIENEN HIJOS, ES EL ELEMENTO VACIO*/
div:empty {
    padding: 100px;
    background-color: #5ef;
}

input[type="checkbox"] {
    margin: 50px;
}

/*SELECCIONA A UN ELEMENTO QUE ESTE SELECCIONADO, COMO UN CHECKBOX, NO APLICA PARA OTROS ELEMENTOS QUE NO TENGAN ATRIBUTO SELECCIONABLE*/
input[type="checkbox"]:checked {
    margin: 30px;
}

/*SELECTOR PARA ENLACES QUE SELECCIONA A LOS ENLACES QUE NO HAN SIDO VISITADOS*/
a:link {
    color: #f00;
}

/*SELECTOR DE ENLACES QUE SELECCIONA A LOS ENLACES QUE YA HAN SIDO VISITADOS*/
a:visited {
    color: #7a0;
}

/*SELECCIONA LOS INPUTS QUE TENGAN UN DATO VALIO, POR EJEMPLO SIN UN INPUT DE TIPO EMAIL SE INSERTA UN DATO INVALIDO NO SE APLICA NINGUNA PROPIEDAD*/
input:invalid {
    color: #55f;
}

input:invalid {
    color: #f00;
}