body {
    margin: 0;
    font-family: sans-serif;
}

.grid {
    display: grid;
    height: 50vh;
    grid-auto-flow: dense;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    border: 1px solid #000;
    padding: 10px;
}

.grid-item {
    background-color: #48e;
    padding: 1em;
    border: 1px solid #000;
}

.grid-item:first-child {
    grid-column: 2 / span 3;;
}