body {
    margin: 0;
    font-family: sans-serif;
}

div, body {
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    flex-direction: row;
    border: 2px solid #000;
    margin: 20px;
    height: 100px;
}

.flex-item {
    width: 200px;
    font-size: 40px;
    text-align: center;
    background-color: #800;
    margin: 10px;
    color: #fff;
    direction: rtl;
    flex-shrink: 0;
}

.flex-item:first-child {
    background-color: #f77;
    flex-shrink: 5;
}

.flex-item:last-child {
    background-color: #000;
    flex-shrink: 6;
}