body {
    margin: 0;
    font-family: sans-serif;
    color: #eeee;
    background: #111;
}

h2 {
    margin: auto;
    text-align: center;
    font-size: 200%;
    text-shadow: 0 0 10px rgb(197, 192, 114);
}

form {
    padding: 3%;
    margin: auto;
    max-width: 500px;
    background: #222;
    box-shadow: 0 0 10px #000;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 0 0 40px #444;
}

input, textarea, select {
    color: aliceblue;
    border: 1px solid #666;
    box-sizing: border-box;
    font-size: 18px;
    padding: 2%;
    width: 100%;
    margin: auto;
    line-height: 140%;
    background: transparent;
    font-family: sans-serif;

}

option {
    background-color: #222;
}

textarea {
    min-width: 100%;
    min-height: 102px;
    resize: none;
}

.form_input {
    padding: 10% 0;
}

label {
    font-weight: bold;
    font-size: 1.4em;
    line-height: 2;
}

fieldset {
    margin: 15% 0;
    border: 1px solid #777;
    border-radius: 6px;
    padding: 15%;
}

legend {
    color: #888;
    padding: 0 2%;
}

.checkbox {
    width: auto;
    margin-left: 1%;
}

.terminos {
    font-size: 0.8em;
}

a {
    text-decoration: none;
}

.terminos-label {
    font-weight: lighter;
}